@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');



*{
  margin:0;
  font-family: 'Inter', sans-serif;

}
body{
  background: linear-gradient(135deg, #ffffff 0%, #c0b089 100%);
  min-height: 100vh;

}

h1{
  text-align: center;
}
.main_form{
background-color: hsl(20, 100%, 99%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 650px;
  margin: 50px auto;
  gap:30px;
  border-radius: 8px;
  padding: 100px 5%;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.075);
  color: rgb(34, 24, 19);
}
.main_section{display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
width: 100%;
/* border: 1px solid black; */
}

.description_section{
  display:flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* border: 1px solid black; */
}
.description_input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main_section_upload{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.upload_section{
  display:flex;
  align-items: center;
  gap:10px;
  flex-direction: column;
}
label{
  font-size: 20px;
}
input[type="text"],textarea{
  font-size: 20px;
  max-width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid rgb(173, 147, 147);
}
textarea{
  min-height: fit-content;
}
input[type="text"]:focus,textarea:focus{
  outline: 1px solid #a08447;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.267);
}
input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #a08447;
  opacity: 0.6;
  font-weight: 300;
}
#name_of_sort{
  max-width: 300px;
  width: 100%;
  font-size: 25px;
}
.image_span{
display: block;
  width: 150px;
  height: 150px;
display: flex;
  justify-content: center;
  align-items: center;
border: 1px solid rgb(173, 147, 147);
padding: 10px;
border-radius: 8px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.upload_icon{
  text-align: center;
width:fit-content;
max-width: 250px;

color: #725d30;
height: fit-content;
padding:10px;
cursor:pointer;
border-radius: 8px;
background: linear-gradient(135deg, #e7dbb3 0%, #eedfba 100%);

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.062);

}
.upload_icon:hover{

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.144);
  transition: all 0.2s;
}
.upload_icon:active{

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.342);
  transition: all 0.2s;
}
.preview{
  opacity: 50%;
}
button {
  background-color: #e2c587;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  color: #57451e;
  box-shadow: 0 4px 15px rgba(160, 132, 71, 0.3);
}

button:hover {
  background-color: #c4ab75;
  box-shadow: 0 4px 15px rgba(160, 132, 71, 0.39);
  transition: all 0.2s;
}

button:active {
  background: #dac78f;
  box-shadow: 0 4px 15px rgba(126, 103, 55, 0.582);
  transition: all 0.2s;
}

.container_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  max-width:850px;
  width: 70%;
  margin: 50px auto;

  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.075);
background-color: hsl(20, 100%, 99%);

  border-radius: 8px;

}

.container_cards__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
gap: 30px;
justify-content: center;



}

.card__image_span{

  border: 2px solid rgba(80, 71, 58, 0.212);

background-color:hsl(20, 100%, 99%);

}
.plus img{
  width: 50%;
  height: 50%;
}
.card{
  border-radius: 8px;
  width: 220px;
  height: 220px;
  max-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: #57451e;
  padding: 10px;

  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.075);
}
.card__name{
  text-align: center;
}
